.imagen-detalle {
  img {
    width: 100;
    height: 100%;
  }
}
.contenido-detalle {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: white;
  position: relative;
  top: -30px;
  .titulo-guardar {
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .titulo-detalle {
      padding-left: 5%;
      color: #004368;
      font-size: 24px;
      font-family: Atkinson Hyperlegible;
      font-weight: 400;
      line-height: 26px;
      word-wrap: break-word;
    }
    .guardar-detelle {
      padding-right: 5%;
    }
  }
  .descripcion-detalle {
    padding: 5%;
    h2 {
      color: #004368;
      font-size: 18px;
      font-family: Atkinson Hyperlegible;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.15px;
      word-wrap: break-word;
    }
    .descripcion {
      margin-top: 5%;
      display: flex;
      text-align: left;
      color: #080808;
      font-size: 14px;
      font-family: Atkinson Hyperlegible;
      font-weight: 400;
      line-height: 16.8px;
      word-wrap: break-word;
    }
  }
  .info-detalle {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
    .info-detalle-izquierda,
    .info-detalle-derecha {
      width: 40%;
    }
    .elemento-info-detalle {
      text-align: left;
      margin-bottom: 15%;
      width: 50px;
      background-color: white;
      width: 100%;
      display: flex;

      .icono {
        width: 50px;
        height: 50px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: 0.5px solid;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #cb7862;
      }
      .texto {
        display: flex;
        align-items: center;
        padding-left: 5%;
        color: #004368;
        font-size: 12px;
        font-family: Atkinson Hyperlegible;
        font-weight: 400;
        line-height: 14.4px;
        letter-spacing: 0.1px;
        word-wrap: break-word;
      }
    }
  }
}
.inscribirme {
  position: sticky;
  bottom: 0;
  .inscribirme-boton {
    color: #fefefe;
    background-color: #CB7862;
    font-size: 20px;
    font-family: Atkinson Hyperlegible;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
    width: 90%;
    padding: 3%;
    margin: 2%;
  }
}
.container-ponentes{
    h2{
        padding: 5%;
        color: #004368;
        font-size: 18px;
        font-family: Atkinson Hyperlegible;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.15px;
        word-wrap: break-word;}
    
}
.map-container{
    border-radius: 24px;
    overflow: hidden;
    margin: 3%;
}