@import "../../../index.scss";

.registro-container {
  text-align: left;
  h2 {
    color: $salmon;
    font-family: $primary-font;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
  input {
    border: none;
    border-bottom: 1px solid $blue;
    border-radius: 0;
    outline: none;
    display: flex;
    height: 40px;
    gap: 10px;
    //flex-direction: column;
    //align-items: flex-start;

    color: $light-Grey;
    font-family: $primary-font;
    font-size: 18px;
  }

  .form-register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    .textCheck {
      overflow: hidden;
      color: $blue;
      text-overflow: ellipsis;
      font-family: $primary-font;
      font-size: 12px;
      letter-spacing: 0.1px;
    }

    label {
      display: flex;
      flex-direction: column;
      color: $blue;
      font-family: $primary-font;
      font-size: 18px;
    }

    .stackCheck {
      display: flex;
      flex-direction: row-reverse;
    }

    .register-data {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      input {
        border: none;
        border-bottom: 1px solid $blue;
        outline: none;
        display: flex;
        height: 40px;
        gap: 10px;

        color: $light-Grey;
        font-family: $primary-font;
        font-size: 18px;
      }

      .actual-situation {
        display: flex;
        width: 324px;
        padding: 4px 2px;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
      }
    }
  }
}
