.eventos-grupo {
  width: 100%;
  .evento-individual {
    box-shadow: 0px 1.20543px 7.23256px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5%; 
    background: var(--Blanco, #fefefe);
    width: 328px;
    height: 207px;
    flex-shrink: 0;
    border-radius: 14.465px;
    cursor: pointer;
    .container-img-profile {
      height: 60%;
      overflow: hidden;
      border-radius: 14.465px 14.465px 0px 0px;
    }
    .info-evento {
        display: flex;
        padding-left: 5%;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;

      height: 40%;
      .category {
          width: 100%;
        display: flex;
        margin-bottom: 1%;
        justify-content: space-between;
        color: var(--Negro, #080808);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Atkinson Hyperlegible;
        font-size: 14.465px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; 
        .flecha{
            padding-right: 5%;
        }
        #edem {
          color: var(--Azul-primario, #004368);
          font-feature-settings: "clig" off, "liga" off;
          font-family: Atkinson Hyperlegible;
          font-size: 14.465px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
        }
      }
      .fecha {
        color: var(--Rojo, #cb7862);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Spectral;
        font-size: 14.465px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; 

    }
    .hora {
      color: #080808;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Spectral;
      font-size: 14.465px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
    }
  }
}
