h2 {
  color: var(--Negro, #080808);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Atkinson Hyperlegible;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  text-align:left;
}
