h2 {
  color: var(--Negro, #080808);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Atkinson Hyperlegible;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  text-align: left;
}
.filtros-home {
  position: absolute;
  width: 100%;
  height: 38px;
  left: 0;
  display: flex;
  .botones-filtros-home {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 2%;
    padding-left: 30px;
    padding-right: 30px;

    .boton-filtros-home {
      border-radius: 24px;
      background: #fefefe;
      border: 1px #a8a8a8 solid;

      .letra-boton {
        color: #080808;
        font-feature-settings: "clig" off, "liga" off;
        padding: 10px;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 14.4px */
        width: 109px;
        display: block;
      }
    }
  }
}
.paraTi {
  left: 0;
  margin-top: 45px;
  position: absolute;
  width: 100%;
  h2 {
    margin: 3% 0;
    padding-left: 30px;
  }
}

.proximos-eventos {
  margin-top: 390px;
  .titulo {
    margin: 5% 0;
  }
}
