@import "../../variables.scss";

.login-form {

input {
    border: none;
    border-bottom: 1px solid $blue;
    border-radius: 0;
    outline: none;
    display: flex;
    height: 40px;
    gap: 10px;
    background-color: transparent; 

    // color: $light-Grey;
    font-family: $primary-font;
    font-size: 18px;
    }

label {
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    color: $blue;
    }
}
.form-register {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

button.login-button {
    background-color: $salmon;
    color: $white-color;
}