//Importaciones

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Spectral&display=swap');


// Variables
// Fonts

//spectral(Nocturne) y Atkinson Hyperlegible(Telegraf)

$primary-font: "Atkinson Hyperlegible", sans-serif;
$secondary-font: "Spectral", serif;


// Colors
$beige: #e6dfcf;
$blue: #004368;
$grey: #847c7b;
$salmon: #cb7862;

//Others
$salmon-light: #e1947e;
$blue-light: #10628e;
$light-Grey: #CECBCA;

$white-color: rgb(240, 240, 240);
$black-color: rgb(20, 20, 20);
$grey-color-light: #cbcbcc;
