//Importaciones
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,400&family=Quicksand:wght@300;500;700&display=swap");

// Variables
// Fonts

//spectral(Nocturne) y Atkinson Hyperlegible(Telegraf)

$primary-font: "Nunito Sans", sans-serif;
$secondary-font: "Quicksand", sans-serif;

// Colors
$beige: #e6dfcf;
$blue: #004368;
$grey: #847c7b;
$salmon: #cb7862;

$white-color: rgb(240, 240, 240);
$black-color: rgb(20, 20, 20);
$grey-color-light: #cbcbcc;