@import "../../../index.scss";

.form-register {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;


  input {
    border: none;
    border-bottom: 1px solid $blue;
    outline: none;
    display: flex;
    height: 40px;
    flex-direction: column;
    align-items: flex-start;

  }
  
}


.actual-situation {
  display: flex;
  width: 324px;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
